/*body > form, body > div {*/
    /*display:none;*/
/*}*/

a, tbody tr {
    cursor: pointer;
}


.selector-list-tpl, .sitemap-list-tpl {
    display:none
}

/**
 * Compact elements
 */
.navbar-nav>li>a {
    padding-top: 3px;
    padding-bottom: 3px;
}

.navbar-text {
	margin-top:4px;
	margin-bottom:4px;
	padding-right:3px;
}

.navbar {
    min-height:26px;
    margin-bottom: 6px;
}
.table-condensed tbody>tr>td {
    padding:1px 5px;
}

body {
    font-size: 12px;
}

form .form-control {
    font-size: 12px;
    padding: 3px 12px;
    height: 25px;
}

textarea.form-control {
    height: auto;
}

form .btn {
    font-size: 12px;
    padding: 3px 12px;
}

form .form-group {
    margin-bottom:5px;
}

form select[multiple], select[size] {
    height: auto;
}

#selector-graph .node circle {
	cursor: pointer;
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1px;
}

#selector-graph .node text {
	font-size: 11px;
}

#selector-graph path.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1px;
}

.data-preview-modal .modal-dialog {
	width:auto;
}

.data-preview-modal .modal-body {
	overflow-y:scroll;
}

.data-preview-modal tbody tr {
	cursor: initial;
}