<div class="modal fade data-preview-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">data Preview</h4>
			</div>
			<div class="modal-body">
				<table class="table">
				<thead>
					<tr>
						{{#columns}}
						<th>{{.}}</th>
						{{/columns}}
					</tr>
				</thead>
				<tbody>
				</tbody>
				</table>
			</div>
		</div>
	</div>
</div>