<tr>
	<td>{{id}}</td>
	<td>{{selector}}</td>
	<td>{{type}}</td>
	<td>{{multiple}}</td>
	<td>{{parentSelectors}}</td>
	<td>
		<button action="preview-selector" type="button" class="btn btn-primary btn-xs">Element preview</button>
		<button action="data-preview-selector" type="button" class="btn btn-primary btn-xs">Data preview</button>
		<button action="edit-selector" type="button" class="btn btn-primary btn-xs">Edit</button>
		<button action="delete-selector" type="button" class="btn btn-primary btn-xs">Delete</button>
	</td>
</tr>