<form class="form-horizontal" role="form" id="create-sitemap">
	<div class="form-group">
		<label for="_id" class="col-lg-1 control-label">Sitemap name</label>

		<div class="col-lg-10">
			<input type="text" class="form-control" name="_id" id="_id" placeholder="Sitemap name">
		</div>
	</div>
	<div class="form-group start-url-block">
		<label class="col-lg-1 control-label">Start URL</label>
		<div class="col-lg-10">
			<div class="input-group">
				<input type="text" class="form-control input-start-url" name="startUrl[]" placeholder="URL">
				<span class="input-group-btn">
					<button class="btn btn-default remove-start-url" type="button">-</button>
					<button class="btn btn-default add-extra-start-url" type="button">+</button>
				</span>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-offset-1 col-lg-10">
			<button type="submit" class="btn btn-default" id="submit-create-sitemap">Create Sitemap</button>
		</div>
	</div>
</form>