<form class="form-horizontal" role="form">
	<div class="form-group">
		<label for="sitemapJSON" class="col-lg-1 control-label">Sitemap JSON</label>

		<div class="col-lg-10">
			<textarea rows="7" class="form-control" name="sitemapJSON" id="sitemapJSON"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label for="edit_sitemap_id" class="col-lg-1 control-label">Rename Sitemap (optional)</label>

		<div class="col-lg-10">
			<input type="text" class="form-control" name="_id" id="edit_sitemap_id" placeholder="Sitemap name" value="{{_id}}">
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-offset-1 col-lg-10">
			<button class="btn btn-default" id="submit-import-sitemap">Import Sitemap</button>
		</div>
	</div>
</form>