<div id="edit-sitemap">
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label for="edit_sitemap_id" class="col-lg-1 control-label">Sitemap name</label>

			<div class="col-lg-10">
				<input type="text" class="form-control" name="_id" id="edit_sitemap_id" placeholder="Sitemap name" value="{{_id}}">
			</div>
		</div>
		<div class="form-group">
			<label for="startUrl" class="col-lg-1 control-label">Start URL</label>

			<div class="col-lg-10">
				<input type="text" class="form-control" id="startUrl" name="startUrl" placeholder="URL" value="{{startUrl}}">
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-offset-1 col-lg-10">
				<button type="submit" class="btn btn-primary" id="submit-edit-sitemap">Save Sitemap</button>
			</div>
		</div>
	</form>
</div>