<div class="visible-xs" >
	<i style="border: solid black;border-width: 0 3px 3px 0;display: inline-block;padding: 3px;transform: rotate(-135deg);position:fixed;top:10px;right:39px"></i>
	<div style="text-align:center; padding: 30px 10px 0 10px">
		<p>Move developer tools to the bottom of your browser to start using Web Scraper.</p>
		<img src="dock-to-bottom.png" />
	</div>
</div>

<div class="hidden-xs">
<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">

	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><a id="sitemaps-nav-button">Sitemaps</a></li>
			<li>
				<a id="sitemap-nav-button" class="dropdown-toggle disabled" data-toggle="dropdown">Sitemap
					<span id="navbar-active-sitemap-id"></span>
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a id="sitemap-selector-list-nav-button">Selectors</a></li>
					<li><a id="sitemap-selector-graph-nav-button">Selector graph</a></li>
					<li><a id="sitemap-edit-metadata-nav-button">Edit metadata</a></li>
					<li><a id="sitemap-scrape-nav-button">Scrape</a></li>
					<li><a id="sitemap-browse-nav-button">Browse</a></li>
					<li><a id="sitemap-export-nav-button">Export Sitemap</a></li>
					<li><a id="sitemap-export-data-csv-nav-button">Export data as CSV</a></li>
				</ul>
			</li>
			<li>
				<a id="create-sitemap-nav-button" class="dropdown-toggle" data-toggle="dropdown">Create new sitemap <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a id="create-sitemap-create-nav-button">Create sitemap</a></li>
					<li><a id="create-sitemap-import-nav-button">Import sitemap</a></li>
				</ul>
			</li>
		</ul>
	</div>

</nav>

<div id="messages"></div>
<div id="viewport"></div>
</div>
