<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">

	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><a id="sitemaps-nav-button">Sitemaps</a></li>
			<li>
				<a id="sitemap-nav-button" class="dropdown-toggle disabled" data-toggle="dropdown">Sitemap
					<span id="navbar-active-sitemap-id"></span>
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a id="sitemap-selector-list-nav-button">Selectors</a></li>
					<li><a id="sitemap-selector-graph-nav-button">Selector graph</a></li>
					<li><a id="sitemap-edit-metadata-nav-button">Edit metadata</a></li>
					<li><a id="sitemap-scrape-nav-button">Scrape</a></li>
					<li><a id="sitemap-browse-nav-button">Browse</a></li>
					<li><a id="sitemap-export-nav-button">Export Sitemap</a></li>
					<li><a id="sitemap-export-data-csv-nav-button">Export data as CSV</a></li>
				</ul>
			</li>
			<li>
				<a id="create-sitemap-nav-button" class="dropdown-toggle" data-toggle="dropdown">Create new sitemap <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="#create-sitemap">Create sitemap</a></li>
					<li><a href="#import-sitemap">Import sitemap</a></li>
				</ul>
			</li>
		</ul>
	</div>

</nav>

<div id="messages"></div>
<div id="viewport"></div>