.-sitemap-preview {
	outline: 1px #d94e37 solid !important;
}

.-sitemap-parent {
	outline: 2px #FFCC33 solid !important;
}

.-sitemap-select-item-hover {
	outline: 2px solid green !important;
}

.-sitemap-select-item-selected {
	outline: 2px solid #C70000 !important;
}

#-selector-toolbar {
	position: fixed !important;
	bottom: 20px !important;
	left: 10px !important;
	z-index: 99999 !important;
}

#-selector-toolbar * {
	font: 100%/1em Verdana, Helvetica, sans-serif !important;
	padding: 3px 12px !important;
	color: #333333 !important;
	font-size: 14px !important;
	font-weight: normal !important;
	line-height: 1.428571429 !important;
	white-space: nowrap !important;
	vertical-align: middle !important;
	border: 1px solid #285e8e !important;
	text-transform: none !important;
	margin: 0 !important;
	letter-spacing: normal !important;
	word-spacing: normal !important;
	text-indent: 0px !important;
	text-shadow: none !important;
	text-decoration: none !important;
	display: inline-block !important;
	text-align: right !important;
	overflow: hidden !important;
}

#-selector-toolbar a {
	color: #ffffff !important;
	background-color: #3276b1 !important;
	text-align: center !important;
	cursor: pointer !important;
	border-radius: 0 4px 4px 0 !important;
	-webkit-user-select: none !important;
}

#-selector-toolbar span.selector {
	padding: 3px 6px !important;
	width: 350px !important;
	color: #333333 !important;
	background: #FFFFFF none no-repeat !important;
	border-radius: 4px 0 0 4px !important;
	/*height: 28px !important;*/
	border-right:none !important;
}
