.-sitemap-preview {
    outline: 1px #d94e37 solid !important;
}

.-sitemap-parent {
    outline: 2px #FFCC33 solid !important;
}

.-sitemap-select-item-hover {
    outline: 2px solid green !important;
}

.-sitemap-select-item-selected {
    outline: 2px solid #C70000 !important;
}

#-selector-toolbar {
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
    background: #DEDEDE !important;
    width: 300px !important;
    height: 50px !important;
    z-index:99999 !important;
    font:100%/1em Verdana, Helvetica, sans-serif !important;
}
#-selector-toolbar * {
    font:100%/1em Verdana, Helvetica, sans-serif !important;
}

#-selector-toolbar a {
    display:block !important;
    margin:2px !important;
    text-align:center !important;
    color:#FFF !important;
    cursor:pointer !important;
    background: #909090 !important;
}

#-selector-toolbar span {
    color: #282828 !important;
    display:block !important;
    margin:0 2px 2px 2px !important;
    font-size:9px !important;
    text-align:left !important;
}
